<section class="w-screen h-screen flex justify-center items-center">
  <div class="px-8 py-6 bg-slate-200 shadow-md">
    <form class="flex flex-col justify-center items-center">
      <mat-form-field class="w-[24rem]">
        <mat-label>Email</mat-label>
        <input matInput placeholder="pat@example.com" name="email" />
      </mat-form-field>
      <mat-form-field class="w-[24rem]">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          placeholder="Enter you password"
          [type]="hide ? 'password' : 'text'"
          name="password"
        />
        <button
          mat-icon-button
          matSuffix
          type="button"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <button
        type="submit"
        class="bg-black w-[25rem] py-4 text-white rounded-md mt-2 animate"
      >
        Login
      </button>
    </form>
  </div>
</section>
