<section class="w-screen h-screen flex justify-center items-center">
  <div class="w-[80%] h-[10rem] max-w-[30rem] bg-red-100 rounded-md relative">
    <h2
      class="text-center text-red-950 font-bold px-4 py-2 bg-red-300 rounded-t-md text-lg"
    >
      ERROR
    </h2>

    <p
      class="absolute top-[50%] left-[50%] text-center translate-y-[-50%] translate-x-[-50%] text-red-500 w-[90%] ml-[5%]"
    >
      {{ message }}
    </p>

    <button
      class="absolute top-[95%] left-[50%] translate-x-[-50%] translate-y-[-95%] px-4 py-2 text-white bg-red-800 rounded-md"
      (click)="onNormalState()"
    >
      Ok
    </button>
  </div>
</section>
